#admin-chat-box {
    width: 100%;
    height: 70vh;
    background: white;
    border-radius: 12px;
    overflow: hidden;
}

.chat-header {
    font-weight: bold;
}

.chat-users {
    height: calc(70vh - 45px);
    overflow-y: auto;
}

.chat-content {
    height: calc(70vh - 45px);
}

.chat-messages {
    flex: 1;
    min-height: 0;
    overflow-y: auto;
    padding: 10px;
}

.chat-input {
    display: flex;
    padding: 10px;
    border-top: 1px solid #ddd;
}

.user-item {
    cursor: pointer;
}
.user-item.active {
    background: #0d6efd;
    color: #fff;
    font-weight: 600;
}

.chat-message {
    max-width: 70%;
    padding: 8px 12px;
    margin-bottom: 8px;
    border-radius: 10px;
}

.message-sent {
    background: #4e73df;
    color: #fff;
    margin-left: auto;
}

.message-received {
    background: #e9ecef;
}